<div class="text-center mt-3">
  <img src="../../images/logo.png" alt="Alfrancis Barbershop Logo" class="w-75">
</div>

<div class="text-start mt-5 mx-3">
  <ul class="list-unstyled">
    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/dashboard.html"><i class="bi bi-layout-text-window-reverse text-dark fs-5"></i> Dashboard </a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/appointment.html"><i class="bi bi-calendar-check text-dark fs-5"></i> Appointments </a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/hairstyle-recommendation.html"><i class="bi-scissors text-dark fs-5"></i> Hairtstyle Recommendation Tool</a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/client-information.html"><i class="bi bi-people-fill text-dark fs-5"></i> Client Management</a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/barber-management.html"><i class="bi bi-person-lines-fill text-dark fs-5"></i> Barber Management</a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/barber-reviews.html"><i class="bi-star text-dark fs-5"></i> Barber Reviews </a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="#"><i class="bi bi-envelope text-dark fs-5"></i> Inquiries</a></li>

    <li class="mb-3"><a class="text-primary text-decoration-none nav-link" href="../admin-pages/account-management.html"><i class="bi bi-person-circle text-dark fs-5"></i> Account Management</a></li>

    <li style="margin-top: 100px;" class="js-logout-button"><a class="text-primary text-decoration-none nav-link" href="#"><i class="bi bi-box-arrow-left text-dark fs-5"></i> Logout</a></li>
  </ul>
</div>